{
  "settings": {
    "index.refresh_interval": "5s"
  },
  "bbuy_products" : {
    "mappings" : {
      "properties" : {
        "@timestamp" : {
          "type" : "date"
        },
        "@version" : {
          "type" : "text",
          "fields" : {
            "keyword" : {
              "type" : "keyword",
              "ignore_above" : 256
            }
          }
        },
        "active" : {
          "type" : "boolean"
        },
        "categoryLeaf" : {
          "type" : "text",
          "fields" : {
            "keyword" : {
              "type" : "keyword",
              "ignore_above" : 256
            }
          }
        },
        "categoryPath" : {
          "type" : "text",
          "fields" : {
            "keyword" : {
              "type" : "keyword",
              "ignore_above" : 256
            }
          }
        },
        "categoryPathCount" : {
          "type" : "float"
          }
        },
        "categoryPathIds" : {
          "type" : "keyword"
        },
        "digital" : {
          "type" : "boolean"
          }
        },
        "image" : {
          "type" : "keyword"
        },
        "inStoreAvailability" : {
          "type" : "boolean"
        },
        "longDescription" : {
          "type" : "text",
          "analyzer": "english",
          "fields" : {
            "keyword" : {
              "type" : "keyword",
              "ignore_above" : 256
            }
          }
        },
        "name" : {
          "type" : "text",
          "analyzer": "english",
          "fields" : {
            "keyword" : {
              "type" : "keyword",
              "ignore_above" : 256
            }
          }
        },
        "onSale" : {
          "type" : "boolean"
        },
        "onlineAvailability" : {
          "type" : "boolean"
        },
        "productId" : {
          "type" : "keyword"
          }
        },
        "regularPrice" : {
          "type" : "float"
        },
        "salePrice" : {
          "type" : "float"
        },
        "sku" : {
          "type" : "keyword"
        },
        "startDate" : {
          "type" : "date"
        },
        "tags" : {
          "type" : "text",
          "fields" : {
            "keyword" : {
              "type" : "keyword",
              "ignore_above" : 256
            }
          }
        },
        "type" : {
         "type" : "keyword"
        },
        "url" : {
          "type" : "keyword"
          }
        }
      }
    }
  }
}
